*{
  font-family: "Helvetica Neue Medium Extended", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
  display: flex;
  justify-content: center;
}
.text{
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
  font-weight: bolder;
}
